<!-- Services Section -->
    <section id="games">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Games</h2>
                    <h3 class="section-subheading text-muted">The Games of Today, Tomorrow!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://saturnsaint.itch.io/monster-path">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/banners/mp.png" class="fa fa-circle fa-stack-2x text-primary circular-image" alt="">
                    </span>
                    <h4 class="service-heading">Monster Path</h4>
                    <p class="text-muted">Choose your adventure on this ever-changing roguelike adventure!</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://store.steampowered.com/app/1098480">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/banners/ff.png" class="fa fa-circle fa-stack-2x text-primary circular-image" alt="">
                    </span>
                    <h4 class="service-heading">Fruit Factory</h4>
                    <p class="text-muted">A physics-based puzzle game where you build the missing pieces of a factory to sort and deliver tropical fruit!</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://theindieaccord.itch.io/run-run-dont-die">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/banners/rr.png" class="fa fa-circle fa-stack-2x text-primary circular-image" alt="">
                    </span>
                    <h4 class="service-heading">Run! Run! Don't Die! Re-Connected</h4>
                    <p class="text-muted">A platform speed runner inspired by the classics! Features a timer and an online highscore with Discord integration!</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://store.steampowered.com/app/1181360">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/banners/ef.png" class="fa fa-circle fa-stack-2x text-primary circular-image" alt="">
                    </span>
                    <h4 class="service-heading">Elette Fragments</h4>
                    <p class="text-muted">This beat-em-up sequel to Elette is a play gone wrong. Follow the smaller stories of unlikely heroes as they discover the true story of Elette! </p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://saturnsaint.itch.io/elette">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/banners/el.png" class="fa fa-circle fa-stack-2x text-primary circular-image" alt="">
                    </span>
                    <h4 class="service-heading">Elette</h4>
                    <p class="text-muted">A haunted tower-defense with branching stories and a Burton-esque style. Defend the island of Lotte in this unique adventure!</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://gamejolt.com/games/ambuuu/406946/download/build/696921">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="img/banners/aa.png" class="fa fa-circle fa-stack-2x text-primary circular-image" alt="">
                    </span>
                    <h4 class="service-heading">Ambuuu Arcade</h4>
                    <p class="text-muted">Are you here to save the city or destroy it? It's hard to tell. Save as many people before time runs out in this wild ride!</p>
                    </a>
                </div>
            </div>
        </div>
    </section>